.nav a {
  color: #blue;
  font-size: 20px;

  padding-right: 20px;
  }


.nav li {
  display: inline;
}

.jumbotron {
  background-color : white;
}

.jumbotron h1 {
  color: black;
  font: 50px;
  text-align: center;
  padding-bottom: 15px;
}

.jumbotron p {
  font-size: 15px;
  padding-bottom: 0px;
  text-align: center;
}
.environment p {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.environment li {
  font-size: 20px;
}
  

.nav1 a {
  color: #blue;
  font-size: 20px;
  font-weight: bold;
  padding-right: 40px;
  
}
.nav1 li {
  display: block;
}